body {
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "VT323", monospace;
}

.title {
  font-size: 50px;
}

.comments {
  font-size: 30px;
  min-height: 100px;
  text-align: center;
}

.footer {
  font-size: 20px;
}

.level {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 20px;
  width: 80px;
  text-align: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semitransparente para mejor visibilidad */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.score {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 20px;
  width: 135px;
  text-align: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semitransparente para mejor visibilidad */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.screen {
  width: 600px;
  height: 280px;
  background-image: url("images/1.webp");
  background-position: bottom;
  background-size: cover;
  transition: all 0s ease-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: crosshair;
}

.npcs {
  width: 85px;
  height: 85px;
  position: absolute;
  bottom: 10px;
  transform: translateX(-380px);
  animation-name: npcs;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: cover;
}

@keyframes npcs {
  0% {
    transform: translateX(-380px);
  }

  100% {
    transform: translateX(330px);
  }
}

@media (max-width: 500px) {
  .screen {
    width: 350px;
    height: 400px;
  }

  .npcs {
    width: 60px;
    height: 60px;
  }

  .level {
    font-size: 15px;
    width: 60px;
  }

  .score {
    font-size: 15px;
    width: 100px;
  }

  .comments {
    font-size: 20px;
    min-height: 70px;
  }

  .footer {
    font-size: 15px;
  }
}
