body {
  /* background-color: black; */
  background-image: url("images/background.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "VT323", monospace;
  overflow-x: hidden;
}

.title {
  font-size: 85px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  text-align: center;
}

.footer {
  margin: 10px 0;
  font-size: 30px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.level {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: 20px;
  width: 80px;
  text-align: center;
  visibility: hidden;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semitransparente para mejor visibilidad */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.score {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 20px;
  width: 135px;
  text-align: center;
  visibility: hidden;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semitransparente para mejor visibilidad */
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.screen {
  width: 550px;
  height: 280px;
  /* background-image: url("images/background.webp"); */
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* visibility: hidden; */
  transition: all 0s ease-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  border-radius: 20px;
  cursor: crosshair;
}

.npcs {
  width: 65px;
  height: 65px;
  position: absolute;
  bottom: 10px;
  transform: translateX(-380px);
  animation-name: npcs;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: cover;
}

/* .logo {
  width: 200px;
  height: 200px;
} */

.container {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.message {
  font-size: 25px;
  margin-top: 25px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.play {
  border: none;
  font-family: "VT323", monospace;
  color: white;
  background-color: transparent;
  font-size: 65px;
  cursor: pointer;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.comments {
  font-size: 30px;
  text-align: center;
  white-space: pre-line;
}

@keyframes npcs {
  0% {
    transform: translateX(-380px);
  }

  100% {
    transform: translateX(330px);
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 50px;
  }
  .screen {
    width: 350px;
    height: 180px;
  }

  .npcs {
    width: 65px;
    height: 65px;
  }

  .level {
    font-size: 15px;
    width: 60px;
  }

  .score {
    font-size: 15px;
    width: 100px;
  }

  .container {
    height: 80px;
  }

  .play {
    font-size: 65px;
  }

  .comments {
    font-size: 20px;
  }

  .footer {
    margin: 20px 0;
    font-size: 20px;
  }
}

/* Ajustes específicos para orientación horizontal */
@media (orientation: landscape) {
  .title {
    font-size: 85px;
  }
  .screen {
    max-width: 80vw;
    height: 230px;
  }

  /* .npcs {
    width: 70px;
    height: 70px;
  } */

  .level {
    font-size: 15px;
    width: 60px;
  }

  .score {
    font-size: 15px;
    width: 100px;
  }

  .container {
    height: 80px;
  }

  .play {
    font-size: 80px;
  }

  .comments {
    font-size: 20px;
  }

  .footer {
    margin: 10px 0;
    font-size: 25px;
  }
}
